body{
    margin: 0;
    padding-left: 30px;
    background-color: #F9FAFB;
    font-family: "IBM Plex Sans Arabic", sans-serif;
}
p{
    font-size: 14px;
}
p, h1, h3{
    margin: 0;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    column-gap: 20px;
    row-gap: 20px;
    direction: rtl;
    grid-template-rows: repeat(6, auto);
    
}
.grid-container > div{
    background-color: white;
}
.sidebar{
    grid-column: 1 / 3;
    grid-row: span 6;
}
.header{
    grid-column: 3 / 12;

}
.balance{
    grid-column: 3 / 6;
}
.income{
    grid-column: 6 / 9;
}
.spendings{
    grid-column: 9 / 12;
}
.latest-activities{
    grid-column: 3 / 6;
    grid-row: 3/4;
    
}
.last-transactions{
    grid-column: 6/ 12;
    grid-row: 3/5;
}
.monthly-bills{
    grid-column: 3 / 6;
    grid-row: 4/5;
}
.general-overview{
    grid-column: 3/6;
    grid-row: span 2;
}
.payment-methods{
    grid-column: 9/12;
    grid-row: span 2;
}
.income-vs-spendings{
    grid-column: 6/9;
}
.account-summary{
    grid-column: 6/9;
}

/*styling section*/

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #eef2f5 0%, #ffffff 50%, #eef2f5 100%);
    padding: 20px 25px;
    border-radius: 15px;
    margin-top: 30px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1)
}

.header-right-section{
    display: flex;
    align-items: center;
    gap: 20px;
}
.h1{
    font-size: 36px;
}
.p{
    font-size: 14px;
    color: gray;
    font-weight: bold;
}
.header-square{
    width: 50px;
    height: 50px;
    background-color: blue;
    border-radius: 15px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.img{
    width: 25px;
}
.connected{
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: oklch(0.723 0.219 149.579 / 0.1);
    width: fit-content;
    color: oklch(0.527 0.154 150.069);
    padding: 6px 12px;
    border-radius: 10px;
    border: solid 1px oklch(0.723 0.219 149.579 / 0.2);
}
.dot{
    width: 10px;
    height: 10px;
    background-color: oklch(0.723 0.219 149.579);
    border-radius: 50%;
}
.header-left-section{
    display: flex;
    gap: 10px;
    align-items: center;
}

.search-div, .notification-div{
    border: 1px solid rgb(224, 224, 224);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 38px;
}
.search-div:hover, .notification-div:hover{
    background-color: #F3F4F6;
}
.notification-div{
    position: relative;
}
.badge{
    position: absolute;
    background-color: red;
    color: white;
    width: 15px;
    border-radius: 50%;
    border: none;
    top: -4px;
    right: -4px;
    font-size: 12px;
    height: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img1{
    width: 20px;
}
.avatar-div{
    display: flex;
    align-items: center;
    gap: 10px;
    border: 1px solid rgb(224, 224, 224);
    width: fit-content;
    border-radius: 15px;
    padding: 8px 17px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2);
}
.avatar-div:hover{
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
    transform: translateY(0.1px);
}
.avatar{
    width: 40px;
    border-radius: 15px;
}
.name{
    font-weight: bold;
    font-size: 14px;
}
.special{
    opacity: 0.6;
    font-size: 12px;
    font-weight: bold;
}
.table-header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
.last-transactions{
    border: 1px rgb(231, 231, 231) solid;
    padding: 20px 25px;
    border-radius: 17px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
}

.display{
    display: flex;
    gap: 3px;
    align-items: center;
}
.display p{
    font-weight: bold;
    opacity: 0.6;
}

.last-transactions-grid{
    display: grid;
    grid-template-columns: 3fr 2fr 2fr 1fr 1fr;
    grid-template-rows: 35px;
    grid-auto-rows: auto;
    
    
}
.inner-table{
    width: 90%;
    margin: auto;
}
.table-heading{
    font-weight: bold;
    opacity: 0.7;
}
.last-transactions-grid > div:not(.table-heading){
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    padding-top: 15px;
}

.last-transactions-grid > div:not(.table-heading, .f1){
    border-top: rgb(244, 244, 244) solid 1px;
}

.f1{
    border-top: 1px rgb(238, 238, 238) solid;
}

.avatar2{
    width: 40px;
    border-radius: 50%;
}
.meat-food, .amazon, .fuel, .netflix, .club, .course{
    width: 40px;
    border-radius: 50%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.meat-food{
    background-color: #FFEDD4;
}
.amazon{
    background-color: #DBEAFE;
}
.fuel{
    background-color: #FFE2E2;
}
.netflix{
    background-color: #E0E7FF;
}
.club{
    background-color: #CEFAFE;
}
.course{
    background-color: #D0FAE5;
}
.transaction{
    gap: 10px;
}
.transaction-img{
    width: 15px;
    object-fit: contain;
}
.type-div, .type-meat, .type-amazon, .type-bill, .type-fuel, .type-onhold, .type-netflix, .type-club, .type-course{
    display: flex;
    gap: 3px;
    width: fit-content;
    font-weight: bold;
    border-radius: 20px;
    padding: 1px 8px;
}
.type-div{
    background-color: #DBFCE7;
    color: #246630;
}
.type-meat{
    color: #9F2D00;
    background-color: #FFEDD4;
}
.type-amazon{
    background-color: #DBEAFE;
    color: #193CB8;
}
.type-bill{
    background-color: #F3E8FF;
    color: #6E11B0;
}
.type-fuel{
    background-color: #FFE2E2;
    color: #9F0712;
}
.type-onhold{
    background-color: #FEF9C2;
    color: #894B00;
}
.type-netflix{
    background-color: #E0E7FF;
    color: #372AAC;
}
.type-club{
    background-color: #CEFAFE;
    color: #215F78;
}
.type-course{
    background-color: #D0FAE5;
    color: #006045;
}
.type-div p, .type-meat p, .type-amazon p, .type-bill p, .type-fuel p, .type-onhold p, .type-netflix p, .type-club p, .type-course p{
    font-size: 12px;
}
.date{
    opacity: 0.7;
    font-weight: bold;
}
.price{
    color: #00A63E;
    font-weight: bold;
}
.price1{
    font-weight: bold;
}

.details-div{
    display: flex;
}
.up-arrow{
    color: #00A63E;
    font-weight: bold;
}
.down-arrow{
    color: #E7000B;
    font-weight: bold;
}
.balance, .income, .spendings, .latest-activities, .monthly-bills, .income-vs-spendings, .account-summary, .general-overview, .payment-methods{
    border: 1px solid rgb(231, 231, 231);
    border-radius: 17px;
    padding: 25px 25px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1)
}
.balance > p, .income p, .spendings p{
    font-weight: bold;
    opacity: 0.7;
}
.balance > h1, .income > h1, .spendings > h1{
    font-size: 37px;
    
}
.activity1-container, .activity2-container{
    width: 100%;
    border-radius: 8px;
    position: relative;
    height: 86px;
    
}
.activity1-container{
    background-color: #2B7FFF;
    margin-bottom: 12px;
}
.activity2-container{
    background-color: #00C950;
    margin-bottom: 17px;
}
.activity1, .activity2{
    width: 93%;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    position: absolute;
    margin-right: -1px;
    height: fit-content;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    
}
.activity1{
    background-color: #EFF6FF;  
}
.activity2{
    background-color: #F0FDF4;
}
.first-activity1{
    display: flex;
    gap: 10px;
}
.m{
    margin-bottom: 10px;
}
.acc1, .acc2{
    
    font-weight: bold;
    font-size: 12px;
}
.acc1{
    color: #155DFC;
}
.acc2{
    color: #55A63E;
}
.img-div1, .img-div2{
    
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}
.img-div1{
    background-color: #DBEAFE;
}
.img-div2{
    background-color: #DBFCE7;
}
.line{
    border: none;
    height: 0.1px;
    background-color: rgb(239, 239, 239);
    margin-bottom: 21px;
}

.display-btn{
    background: none;
    border: none;
    font-weight: bold;
    color: #1447E6;
    display: block;
    margin: auto;
    font-family: "IBM Plex Sans Arabic", sans-serif;
}

.latest-activities > h3{
    margin-bottom: 20px;
}

.monthly-bills{
    text-align: center;
}
.monthly-bills-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}
.monthly-bills-grid-img{
    width: 32px;
    height: 32px;
    border-radius: 10px;
    
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 3px;
}
.m1{
    background-color: #DBEAFE;
}
.m2{
    background-color: #FEF9C2;
}
.m3{
    background-color: #DBFCE7;
}
.m4{
    background-color: #FFE2E2;
}
.monthly-bills-grid-item{
    border: 1px solid rgb(232, 232, 232);
    border-radius: 10px;
    padding: 10px 0px;
    background-color: #F9FAFB;
}
.monthly-bills-grid-item .img1{
    width: 17px;
    height: 17px;
}
.ip1, .ip2 , .ip3{
    font-size: 12px;
    font-weight: bold;
}
.ip1{
    color: red;
}
.ip2{
    color: #FF6900;
}
.ip3{
    color: #30C950;
}
.monthly-bills .table-header{
    margin-bottom: 10px;
}
.monthly-bills > p{
    opacity: 0.6;
    margin-bottom: 15px;
    font-weight: bold;
}

.square-container{
    display: flex;
    margin: auto;
    gap: 20px;
    width: fit-content;
    margin-bottom: 70px;
}
.square{
    display: flex;
    gap: 5px;
    align-items: center;
}

.green-square, .red-square{
    width: 12px;
    height: 12px;
    border-radius: 2px;
}
.green-square{
    background-color: #10B981;
}
.red-square{
    background-color: #EF4444;
}
.gc1, .rc1, .gc2, .rc2, .gc3, .rc3, .gc4, .rc4{
    width: 16px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}
.stat{
    display: flex;
    justify-content: space-around;
    align-items: end;
    margin-bottom: 15px;
}
.out-rec-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rec-container{
    display: flex;
    align-items: end;
    gap: 2px;
    margin-bottom: 7px;
}
.rc1, .rc2, .rc3, .rc4{
    background-color: #F26969;
}
.gc1, .gc2, .gc3, .gc4{
    background-color: #40C79A;
}
.gc1{
    height: 95px;
}
.gc2{
    height: 98px;
}
.gc3{
    height: 92px;
}
.gc4{
    height: 96px;
}
.rc1{
    height: 42px;
}
.rc2{
    height: 45px;
}
.rc3{
    height: 38px;
}
.rc4{
    height: 45px;
}
.account-summary .as-cont:nth-child(4){
    margin-bottom: 25px;
}

.as-cont{
    border: 1px solid rgb(241, 241, 241);
    border-radius: 10px;
    background-color: #F9FAFB;
    display: flex;
    justify-content: space-between;
    padding: 15px;
    margin-bottom: 15px;
}
.as-in-cont{
    display: flex;
    gap: 13px;
}
.as-div1, .as-div2, .as-div3{
    width: 45px;
    height: 45px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.as-div1{
    background-color: #DBEAFE;
}
.as-div2{
    background-color: #DBFCE7;
}
.as-div3{
    background-color: #F3E8FF;
}
.as-p{
    font-weight: 500;
    font-size: 16px;
}
.as-price1, .as-price2{
    font-weight: 500;
    font-size: 16px;
}
.as-price2{
    color: red;
}

.blue-div{
    background-color: #EEF4FF;
    border: 1px solid #dbe7ff;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 25px;
}
.blue{
    color: #1577FD;
    font-weight: 500;
    font-size: 14px;
}
.p1{
    opacity: 0.7;
    font-weight: 500;
    font-size: 14px;
}
.darkblue-big{
    color: #1C398E;
    font-weight: bold;
    font-size: 22px;
}
.greenbig{
    color: #00A63E;
    font-weight: 600;
    font-size: 18px;
}
.text-div{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.btm-text-div{
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-top: 15px;
}
.parent-gray-div{
    width: 99.5%;
    height: 8px;
    background-color: #E5E7EB;
    border-radius: 10px;
    position: relative;
    margin-top: 3px;
}
.child-color-div{
    height: 100%;
    position: absolute;
    margin-right: -2px;
    border-radius: 10px;
    
}
.child-red-div{
    height: 100%;
    position: absolute;
    border-radius: 10px;
}
.cc0{
    background-color: #4774FF;
    width: 82.5%;
}
.cc1{
    background-color: #FF6900;
    width: 50%;
}
.cc2{
    background-color: #FB2C36;
    width: 100%;
}
.cc3{
    background-color: #F6339A;
    width: 80%;
}
.cc4{
    background-color: #00C950;
    width: 86%;
}
.grey-div{
    background-color: rgb(251, 251, 251);
    border: 1px solid rgb(225, 225, 225);
    border-radius: 10px;
    padding: 20px 15px;
    margin-top: 17px;
    transition: 0.2s;
}
.grey-div:hover{
    background-color: #F5F6F8;
    box-shadow: 1px 3px 6px rgba(0, 0, 0, 0.1);
    transform: translate(1px)
}

.grey-img-div{
    width: 40px;
    height: 40px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.im1{
    background-color: #FFEDD4;
}
.im2{
    background-color: #FEE2E2;
}
.im3{
    background-color: #FCE7F3;
}
.im4{
    background-color: #DCFCE7;
}
.pp{
    font-weight: 500;
    font-size: 15px;
    margin-bottom: 2px;
}
.grey-left-section{
    display: flex;
    gap: 10px;
}
.inner-div{
    width: fit-content;
    height: fit-content;
    padding: 1px 10px;
    border-radius: 20px;
}
.dd1{
    background-color: #DCFCE7;
}
.dd2{
    background-color: #FEE2E2;
}
.dd3{
    background-color: #FEF3C7;
}

.dd1 p, .dd2 p, .dd3 p{
    font-size: 12px;
    font-weight: bold;
}
.dd1 p{
    color: #166534;
}
.dd2 p {
    color: #991B1B;
}
.dd3 p {
    color: #92400E;
}

.grey-header-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.card-container{
    height: 205px;
    width: 100%;
    perspective: 1000px;
    
    
}
.cmargin{
    margin-bottom: 15px;
    margin-top: 15px;
}
.card{
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 0.3s;
    transform-style: preserve-3d;
}
.front, .back{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-sizing: border-box;
    position: absolute;
    backface-visibility: hidden;
}
.card-container:hover > .card{
    cursor: pointer;
    transform: rotateY(180deg);
}
.back{
    background-color: #0A1121;
    padding: 20px 15px;
    
    top: 0;
    left: 0;
    transform: rotateY(180deg);
}
.upperbackdiv{
    background: linear-gradient(240deg, #3a3a3a 0%, #111111 100%);
    width: 100%;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 5px;
}
.backp{
    color: rgb(160, 160, 160);
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 10px;
}
.hidden{
    background-color: white;
    height: 20px;
    border-radius: 5px;
    padding: 5px 7px;
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 12px;
}
.hidden p{
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
}
.hash{
    background: linear-gradient(to right, #e0e0e0 0%, #a0a0a0 50%, #e0e0e0 100%);
    height: 11px;
    border-radius: 2px;
    width: 83%;
}
.cvv{
    color: #D1D5DC;
    font-size: 13px;
    font-weight: 500;
}
.cvv-div{
    background-color: white;
    width: fit-content;
    height: 32px;
    border-radius: 7px;
    
    display: flex;
    align-items: center;
    justify-content: center; 
    padding: 5px 15px;
}
.cvv-div p{
    font-weight: 600;
    font-size: 18px;
}

.outer-cvv-div{
    width: 100%;
    display: flex;
    justify-content: end;
    height: fit-content;
}

.fc1{
    background-color: #372AAC;
}
.fc2{
    background-color: #C70036;
}
.front{
    padding: 25px;
    position: relative;
}
.mg{
    color: rgb(0, 210, 0);
    font-size: 14px;
    font-weight: bold;

}
.outer-right-div{
    width: 48px;
    height: 32px;
    background-color: rgba(230, 230, 230, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
}
.outer-right-inner-div{
    width: 24px;
    height: 16px;
    background-color: rgba(230, 230, 230, 0.5);
    border-radius: 3px;
}
.payment-img{
    width: 40px;
    height: 40px;
}

.payment-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;
}
.card-number{
    color: white;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 5px;
}
.card-number span{
    font-size: 24px;
}
.gg{
    color: rgb(209, 209, 209);
    font-size: 12px;
    font-weight: bold;
}
.ww{
    color: white;
    font-weight: bold;
    font-size: 13px;
}
.ww1{
    font-size: 14px;
    color: white;
    font-weight: bold;
}
.bottom-card{
    display: flex;
    justify-content: space-between;
    
}
.blur{
    width: fit-content;
    height: fit-content;
    border-radius: 20px;
    font-weight: bold;
    color: white;
    border: none;
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(2px);
    position: absolute;
    top: 9px;
    left: 10px;
    padding: 5px 10px;
    font-size: 12px;
}


.sidebar{
    border-right: 1px solid rgb(231, 231, 231);
    padding: 25px;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 255px;
    box-sizing: border-box;
}
.sidebar::-webkit-scrollbar{
    width: 7px;
    
}
html::-webkit-scrollbar{
    display: none;
}
.sidebar::-webkit-scrollbar-thumb{
    background-color: rgb(218, 218, 218);
    border-radius: 10px;
}

.sidebar-text{
    color: #1447E6;
    background-color: #EFF6FF;
    border: 1px solid #c2dcff;
    
    
}
.padding{
    padding: 10px 15px;
}
.sidebar .sidebar-text{
    margin-top: 40px;
}
.sidebardiv{
    display: flex;
    gap: 10px;
    border-radius: 10px;
    align-items: center;
    
    width: 80%;
    font-weight: 600;
    font-size: 16px;
    margin-top: 15px;
}
.grey{
    color: gray;
}
.grey:hover{
    background-color: #F9FAFB;
}
.im5{
    background-color: #FCE5D5;
}

.margintop{
    margin-top: 10px;
    transition: 0.2s;
    padding: 12px 13px;
}
.margintop:hover{
    background-color: #FAFAFA;
    transform: translateX(1px);
}

.payment-methods, .account-summary, .general-overview{
    margin-bottom: 35px;
}
.methods{
    margin-top: 30px;
    margin-right: 7px;
    margin-bottom: 15px;
}
